.Header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin: 0;
    height: 10vh;
    background-color: whitesmoke;
    box-shadow: 0 6px 4px -2px rgb(85, 84, 84);
}

  .shimmer {
    color: rgba(239,169,75, 0.7);
    font-family: "Lato";
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.6em;
    margin: 0 auto;
    padding: 0;
    display: block;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  .shimmer:hover {
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

@-moz-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}